

@font-face { 
    font-family: 'Soehne Breit Buch';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/test-soehne-breit-buch.woff') format('woff');
}

@font-face { 
    font-family: 'Soehne Breit Dreiviertelfett';
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/soehne-breit-web-dreiviertelfett.woff') format('woff');
}



.selection_bubble {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: #232E3E;
    color: #fff;
    padding: 40px 60px;
    font-size: 16px;
    font-family: "Soehne Breit Buch", "Helvetica", "Arial", "sans-serif";
    width: 350px;


    -webkit-box-shadow: 3px 3px 25px 5px rgba(0,0,0,0.19); 
    box-shadow: 3px 3px 25px 5px rgba(0,0,0,0.19);
    border-radius: 10px;
    z-index:999999999999999999999999;
    transition: opacity 0.5s;
    
  }

  .selection_bubble.active
  {
      opacity: 1;
      visibility: visible;
  }

.selection_bubble h3
{
    color: #FFEB00;
    font-size: 18px;
    font-family: 'Soehne Breit Dreiviertelfett', "Helvetica", "Arial", "sans-serif";
}

.selection_bubble p
{
    margin-top: 20px;
}


.selection_bubble #x {
    position: absolute;
    right: 40px;
    height: 0;
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: opacity 0.3s;
    z-index:  9999;
  }

  .selection_bubble #x:hover
  {
    opacity: 0.2;
  }

 .__undp_term
 {

     font-weight: bold;
     
     display: inline-block;
     padding: 3px 10px ;
     
     background: #FFEB00;
     color: #232E3E;

     cursor: pointer;
     border-radius: 20px;
     transition: color 0.4s, background 0.4s;
 }


 .__undp_term:hover, .__undp_term.active
 {
    background: #232E3E;
    color: #FFEB00;

    

 }


.selection_bubble .__undp_nibble
{
    height: 64px;
    width: 72px;
    transform: scaleX(0.6);
    position:  absolute;
    
}
.selection_bubble .__undp_nibble span
{
    background: #232E3E;
    height: 56px;
    width: 56px;
    border-radius: 9px;
    transform: rotate(45deg);
    display: block;
}

.selection_bubble.__undp_topleft .__undp_nibble
{
    top:  auto;
    bottom:  -27px;
    left:  auto;
    right:  0;
}

.selection_bubble.__undp_topleft .__undp_nibble span
{
    
}

.selection_bubble.__undp_topright .__undp_nibble
{
    top:  auto;
    bottom:  -27px;
    left:  0;
    right:  auto;

}

.selection_bubble.__undp_topright .__undp_nibble span
{
    
}

.selection_bubble.__undp_bottomleft .__undp_nibble
{
    top:  -20px;
    bottom:  auto;
    left:  auto;
    right:  0;
}

.selection_bubble.__undp_bottomleft .__undp_nibble span
{
    
}

.selection_bubble.__undp_bottomright .__undp_nibble
{
    top:  -20px;
    bottom:  auto;
    left:  0;
    right:  auto;
}

.selection_bubble.__undp_bottomright .__undp_nibble span
{
    
}


