@font-face { 
  font-family: 'Soehne Breit Dreiviertelfett';

  src: url('./fonts/soehne-breit-web-dreiviertelfett.eot') format('eot'),
         url('./fonts/soehne-breit-web-dreiviertelfett.woff') format('woff'),
         url('./fonts/soehne-breit-web-dreiviertelfett.woff2') format('woff2');
}


/* TEST FONT FACES */

@font-face { 
  font-family: 'Soehne Breit Buch';
  src: url('./fonts/test-soehne-breit-buch.woff') format('woff');
}



body {
    background: #232E3E;
    color: #fff;
    padding: 40px 60px;
    font-size: 16px;
    font-family: "Soehne Breit Buch", "Helvetica", "Arial", "sans-serif";
  }

  h1
  {
    font-size: 18px;
    font-family: 'Soehne Breit Dreiviertelfett';
  }

  p {
      width: 290px;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 30px;
  }

  span.yellow
  {
    color: #FFEB00;
  }

  button
  {
    background: transparent;
    border: 2px solid white;
    border-radius: 40px;
    font-size: 14px;
    color: white;
    line-height: 40px;
    margin: 0;
    padding: 0 20px 1px;
    cursor: pointer;
    transition: color 0.5s, border 0.5s;
    font-family: 'Soehne Breit Dreiviertelfett';
  }

  #x {
    position: absolute;
    right: 40px;
    height: 0;
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: opacity 0.3s;
  }

  #x:hover
  {
    opacity: 0.2;
  }

  button:hover
  {
    color: #FFEB00;
    border: 2px solid #FFEB00;
  }